@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

main {
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

.dark {
  background-color: #0f172a;
}

.dark img {
  filter: invert(1);
}

.dark * {
  color: white;
  border: white;
}

